*{
    border: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    padding: 15px;
}

.back{
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    color: aqua;
}


.main-container{
    /* background-image: linear-gradient(to right,
    rgba(88, 87, 87, 0.7),
    rgba(122, 115, 115, 0.7)),
    url(images/background.jpg); */
    position: relative;
    background-size: cover;
    background-position: center;
    position: relative;
    background-color: rgb(99, 98, 98);
    height: 94vh;
    display: grid;
    align-items: center;
    justify-content: center;
     
}

.signup-container{
    position: relative;
    display: grid;
    align-items: center;
    justify-content: center;
    width: 40rem;
    height: 30rem;
    background-color: hsla(0, 20%, 99%, 0.769);
}

.signUpText{
    margin-top: 3rem;
    /* border: 2px solid red; */
    font-family: 'Courier New', Courier, monospace;
}

.firstAndLastName{
    display:  flex;

}
.lastName{
    margin-left:1rem;
  
}
.lastName-input{
    height: 2rem;
    border-radius: 3rem;
    padding-left: 0.6rem;
    outline: none;
    width: 14rem;

}

.firstName-input{
    height: 2rem;
    border-radius: 3rem;
    padding-left: 0.6rem;
    outline: none;

}

.email-input{
    height: 2rem;
    border-radius: 3rem;
    padding-left: 0.6rem;
    width: 100%;
    outline: none;
    margin-top: 0.5rem;

}
.password-input{
    height: 2rem;
    border-radius: 3rem;
    padding-left: 0.6rem;
    width: 100%;
    outline: none;
    margin-top: 0.5rem;
}
.passwordConfirm-input{
    height: 2rem;
    border-radius: 3rem;
    padding-left: 0.6rem;
    width: 100%;
    outline: none;
    margin-top: 0.5rem;

}

.signup-btn{
    padding: 0.5rem 1rem;
    border-radius: 3rem;
    outline: none;
    font-family: 'Courier New', Courier, monospace;
}
 .signup-btn:hover{
    background-color: rgb(196, 197, 197);
 }